.container {
    display: flex;
}

#containerForm {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}

#containerCodPreview {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.content {
    display: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.active {
    display: block;
}

#altura, #largura {
    width: 40px;
}

#pagina {
    width: 100%;
    height: 100%;
}

#altura, #largura {
    width: 60px;
}

body {
    background-color: #f9fafb;
}

#cabecalho {
    background-color: #4f46e5;
    color: white;
}

.btn-primary {
    background-color: #6366f1;
    border-color: #6366f1;
}

.btn-secondary {
    background-color: #e0e7ff;
    border-color: #e0e7ff;
}

h1 {
    color: #3730a3;
}

.container {
    background-color: #f3f4f6;
}


